<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
        <div class="col-sm-6 col-md-4">
          <div class="restaurant-item">
            <!--<%= File.exist?('public'+image_path(restaurant.image)) %>-->
            <!--<%= image_path(restaurant.image) %>-->
            <!--<%= show_img(restaurant.image) %>-->
            <!--<%= restaurant.image? %>-->
            <!--<% if restaurant.image?  %>-->
                <!--<% for img_id in 0..7 %>-->
                    <!--<% if image_path(restaurant.image).include?('/'+img_id.to_s+'.jpg') %>-->
                        <!--<%= image_tag('/seed_img/'+img_id.to_s+'.jpg', width:'300px', class: "img-responsive center-block") %>-->

                    <!--<% end %>-->
                <!--<% end %>-->
                <!--<%= image_tag restaurant.image, width:'300px', class: "img-responsive center-block" %>-->
            <!--<% else %>-->
                <!--<div style="width:300px;height:180px">-->
                  <!--<span class="glyphicon glyphicon-picture"></span>-->
                <!--</div>-->
            <!--<% end  %>-->
            <%= show_img(restaurant.image)%>
            <div class="caption">
              <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
              <p><%= truncate(restaurant.description, length: 80) %></p>
            </div>
          </div>
        </div>
    <% end %>
    <div class="text-center">
      <%= paginate @restaurants %>
    </div>
  </div>
</div>