<% @restaurants.each do |restaurant| %>
  <div>
    <%= image_tag restaurant.image %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <p><%= restaurant.name %></p>
    <p><%= truncate(restaurant.description, length: 80) %></p>
  </div>
<% end %>

<%= paginate @restaurants %>